* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f2f6ff;
    padding: 30px;
}

.container {
    width: 80%;
    margin: auto;
}

.box {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.box h2 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #333;
}

.editable {
    padding: 8px;
    background: #eef3ff;
    border-radius: 8px;
    width: fit-content;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.editable:hover {
    background: #dfe7ff;
}

input, button {
    padding: 10px;
    margin: 6px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    background: #4674ff;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

button:hover {
    background: #2d56e8;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    background: #f7f9ff;
    padding: 12px;
    border-radius: 10px;
    margin-top: 8px;
    font-size: 18px;
}

.amount {
    font-weight: bold;
    color: #ff3333;
}
